/*

font-family's are as follows

font-family: Roboto;
font-family: 'AvenirDemiBold';
font-family: 'AvenirNextRegular';
font-family: 'AvenirNextMedium';


*/
body {
  font-family: "AvenirNextRegular";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #707070;
  background-color: #f3f3f3;
}

html {
  font-size: 13px;
}

header.content__title > h1 {
  line-height: 130%;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0;
  font-family: "AvenirDemiBold";
  color: #1E1D4D;
}
header.content__title > p {
  font-size: 16px;
}

.clear {
  clear: both;
}

.container {
  width: 877px;
  padding: 0;
}

.container * {
  font-family: "AvenirNextRegular";
}

.content:not(.content--boxed):not(.content--full) {
  padding: 0;
}
.content .content--inn--auto {
  padding: 2rem 2rem 0;
}

.content__title {
  margin-bottom: 2rem;
  padding: 1rem 2rem 0;
}

.content--inner {
  padding: 15px;
}

.transparentborder {
  border: none;
}

.wz_review_step .alerticon {
  font-size: 20px;
  color: #D0021B;
}
.wz_review_step .checkicon {
  font-size: 20px;
  color: #2196F3;
}
.wz_review_step .rv_header_txt {
  /* BORROWER: */
  opacity: 0.57;
  font-family: "AvenirDemiBold";
  font-size: 11px;
  color: #5A5A5A;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}
.wz_review_step .rv_sectiontitle_txt {
  /* Borrowers: */
  font-family: "AvenirNextMedium";
  font-size: 20px;
  color: #1E1D4D;
}
.wz_review_step .fullbtn {
  display: block;
  width: 100%;
}
.wz_review_step .btn-submit_rv {
  background-color: #1E1D4D;
  box-shadow: none;
  font-family: "AvenirNextRegular";
  font-size: 16px;
}
.wz_review_step hr.dashed {
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}
.wz_review_step .rv_section {
  padding-bottom: 50px;
}
.wz_review_step .rv_left {
  float: left;
  width: 57%;
}
.wz_review_step .rv_left td, .wz_review_step .rv_left th {
  border: none;
}
.wz_review_step .rv_left thead {
  border-bottom: 2px solid #EEE;
}
.wz_review_step .rv_left tfoot {
  border-top: 2px solid #EEE;
}
.wz_review_step .rv_left thead td, .wz_review_step .rv_left tfoot td {
  text-transform: uppercase;
  color: #5A5A5A;
  font-size: 10px;
  padding: 17px 9px;
  letter-spacing: 1px;
  vertical-align: middle;
}
.wz_review_step .rv_left tbody td {
  font-size: 13px;
  color: #1E1D4D;
  padding: 10px;
}
.wz_review_step .rv_left tbody td span {
  font-size: 11px;
  font-style: italic;
  color: #5A5A5A;
}
.wz_review_step .rv_left tbody td span.per {
  font-size: 13px;
  color: #5A5A5A;
  font-style: normal;
}
.wz_review_step .rv_left .table-striped tbody tr:nth-of-type(odd) {
  background-color: #FFF;
}
.wz_review_step .rv_left .table-striped tbody tr:nth-of-type(even) {
  background-color: #FAFAFA;
}
.wz_review_step .rv_left tbody td a, .wz_review_step .rv_left tbody td a:hover {
  text-decoration: none;
  font-size: 8px;
  color: #424242;
  cursor: pointer;
}
.wz_review_step .rv_left h6 {
  font-size: 16px;
  color: #1E1D4D;
  letter-spacing: 1.2px;
  margin: 0;
  margin-top: 5px;
}
.wz_review_step .rv_right {
  float: right;
  width: 43%;
}
.wz_review_step .rv_suggestion {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  align-items: center;
  border: dashed 1px #2196F3;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.wz_review_step .rv_suggestion .suggestion-box-text {
  font-family: "AvenirNextRegular";
  color: #2196F3;
  font-size: 15px;
  font-style: italic;
}
.wz_review_step .rv_suggestion .suggestion-box-icon {
  margin-right: 20px;
  position: relative;
  top: -25px;
}
.wz_review_step .rv_suggestion .suggestion-sub-text {
  font-size: 10px;
  color: #2196F3;
  font-style: normal;
  line-height: 1.5;
  display: inline-block;
  margin-top: 2px;
}
.wz_review_step .rv_suggestion .suggest_first {
  margin-top: 12px;
}
.wz_review_step .rv_suggestion .suggestion-sub-text span {
  font-weight: bold;
  font-style: normal;
}
.wz_review_step .rv_suggestion a, .wz_review_step .rv_suggestion a:hover {
  text-decoration: none;
  font-size: 10px;
  font-style: normal;
  transition: all 0.4s;
  text-transform: uppercase;
}
.wz_review_step .rv_suggestion a {
  color: #2196F3;
  display: inline-block;
  padding: 3px 13px 2px 13px;
  font-style: normal;
  border: 1px solid #2196F3;
  border-radius: 12px;
  position: relative;
  top: -4px;
}
.wz_review_step .rv_suggestion a:hover, .wz_review_step .rv_suggestion a.active {
  color: #91cbfa;
  border: 1px solid #91cbfa;
  border-radius: 12px;
}

/*# sourceMappingURL=style.css.map */
