$darkBlue_c: #1E1D4D;
$lightBlue_c: #2196F3;
$alertRed_c: #D0021B;
$tableGrey_c: #A1A1A1;
/*

font-family's are as follows

font-family: Roboto;
font-family: 'AvenirDemiBold';
font-family: 'AvenirNextRegular';
font-family: 'AvenirNextMedium';


*/

body {
    font-family: "AvenirNextRegular";
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #707070;
    background-color: #f3f3f3;
}

html {
    font-size: 13px;
}

header {
    &.content__title>h1 {
        line-height: 130%;
        font-weight: normal;
        font-size: 2.5rem;
        margin: 0;
        font-family: "AvenirDemiBold";
        color: $darkBlue_c;
    }
    &.content__title>p {
        font-size: 16px;
    }
}
.clear {
    clear: both;
}
.p-left-0 {
    padding-left: 0 !important;
}
.container {
    width: 877px;
    padding: 0;
}
.content {
    &:not(.content--boxed):not(.content--full) {
        padding: 0;
    }
    .content--inn--auto {
        padding: 2rem 2rem 0;
    }
}

.content__title {
    margin-bottom: 2rem;
    padding: 1rem 2rem 0;
}
.content--inner {
    padding: 15px;
}

.transparentborder {
    border: none;
}
.transparentborder {
    border: none;
    padding: 0;
    padding-left: 19px;
    padding-top: 3px;
}

.wz_review_step {
    .toggle-switch {
        width: 26px;
        height: 13px;
    }
    .togglewithyesnospace {
        width: 100%;
    }
    .togglewithyesno .togglelabel::before {
        left: -19px;
        top: 1px;
    }
    .togglewithyesno .togglelabel::after {
        right: -56px;
        top: 1px;
    }
    .toggle-switch__helper {
        position: absolute;
        height: 11px;
        width: 100%;
        margin-left: 5px;
    }
    .toggle-switch__helper:before {
        background-color: #e0e0e0;
        top: 1px;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .toggle-switch__checkbox:checked ~ .toggle-switch__helper:after {
        left: calc(100% - 14px);
        background-color: #39bbb0;
    }
    .toggle-switch__helper:after {
        width: 14px;
        height: 14px;
        top: -1px;
    }
    .alerticon {
        font-size: 13px;
        color: $alertRed_c;
    }
    .checkicon {
        font-size: 12px;
        color: $lightBlue_c;
        @media screen and (max-width: 840px) {
            font-size: 10px;
        }
    }
    .borrowers {
        position: relative;
        table {
            width: 99.5%;
        }
        td {
            padding: 8px 12px;
            padding-right: 0;
            border: none;
        }
        thead td {
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $tableGrey_c;
        }
        tbody td {
            font-size: 12px;
            @media screen and (max-width: 835px) {
                font-size: 10px;
            }
        }
        .table-striped {
          tbody tr:nth-of-type(odd) {
            background-color: #FAFAFA;
          }
        }
        tfoot {
            border-top: 1px solid #D6D6D6;
            border-bottom: 1px solid #D6D6D6;
        }
        tfoot td {
            font-size: 12px;
            color: #1D2C4C;
            font-weight: 400;
            @media screen and (max-width: 840px) {
                font-size: 10px;
            }

        }
        span.in-pro {
            font-size: 10px;
            color: $alertRed_c;
            @media screen and (max-width: 840px) {
                font-size: 8px;
            }
        }
        span.completed {
            font-size: 10px;
            color: $lightBlue_c;
            @media screen and (max-width: 840px) {
                font-size: 8px;
            }
        }
        span.mo {
            font-size: 7px;
            color: #5A5A5A;
        }
        span.warn {
            font-size: 12px;
            color: $alertRed_c !important;
        }
        .form-control {
            font-size: 10px;
        }
        .ratios {
            position: absolute;
            width: 135px;
            height: 40px;
            padding: 5px 12px;
            top: 15px;
            right: 105px;
            font-size: 10px;
            color: $tableGrey_c;
        }
    }
    .rv_header_txt {
        /* BORROWER: */
        opacity: 0.57;
        font-family: 'AvenirDemiBold';
        font-size: 11px;
        color: #5A5A5A;
        letter-spacing: 1.7px;
        text-transform: uppercase;
    }
    .rv_sectiontitle_txt {
        /* Borrowers: */
        font-family: 'AvenirNextMedium';
        font-size: 20px;
        color: $darkBlue_c;
    }
    .rv_sectiontitle_txt1 {
        /* Borrowers: */
        font-family: 'AvenirNextRegular';
        font-size: 19px;
        color: $darkBlue_c;
        font-style: italic;
    }
    .fullbtn {
        display: block;
        width: 100%;
    }
    .btn-submit_rv {
        background-color: $darkBlue_c;
        box-shadow: none;
        font-family: 'AvenirNextRegular';
        font-size: 16px;
    }
    hr {
        &.dashed {
            border-top: 1px dashed rgba(0, 0, 0, 0.2);
        }
    }
    .rv_section {
        padding-bottom: 50px;
    }  
    .rv_left {
        float: left;
        width: 57%;
        font-family: "AvenirNextRegular";
        td, th {
            border: none;
        }
        thead {
            border-bottom: 2px solid #EEE;
        }
        tfoot {
            border-top: 2px solid #EEE;
        }
        thead td, tfoot td {
            text-transform: uppercase;
            color: $tableGrey_c;
            font-size: 10px;
            padding: 18px 9px;
            letter-spacing: 1px;
            vertical-align: middle;
        }
        tbody td {
            font-size: 13px;
            color: $darkBlue_c;
            padding: 7px 10px;
        }
        tbody td span {
            font-size: 11px;
            font-style: italic;
            color: $tableGrey_c;
        }
        tbody td span.per {
            font-size: 13px;
            color: $tableGrey_c;
            font-style: normal;
        }
        .table-striped {
          tbody tr:nth-of-type(odd) {
            background-color: #FFF;
          }
          tbody tr:nth-of-type(even) {
            background-color: #FAFAFA;
          }
        }
        tbody td a, tbody td a:hover {
            text-decoration: none;
            font-size: 8px;
            color: #424242;
            cursor: pointer;
            letter-spacing: 0.5px;
        }
        h5 {
            font-size: 16px;
            color: $darkBlue_c;
            letter-spacing: 1.2px;
            margin: 0;
            font-weight: 400;
            margin-top: 5px;
        }
        .checkicon {
            position: relative;
            top: 4px;
        }
    }
    .rv_right {
        float: right;
        width: 42%;
        margin-right: 0.5%;
        font-family: "AvenirNextRegular";
        padding: 9px;
        border: 1px solid #E3E3E3;
        border-radius: 3px;
        td, th {
            border: none;
        }
        thead {
            border-bottom: 2px solid #EEE;
        }
        thead td {
            text-transform: uppercase;
            color: $tableGrey_c;
            font-size: 10px;
            padding: 14px 9px;
            letter-spacing: 1px;
            vertical-align: middle;
        }
        tbody td {
            font-size: 11px;
            color: $darkBlue_c;
            padding: 3.5px 10px;
        }
        tbody td span {
            font-size: 11px;
            font-style: italic;
            color: $tableGrey_c;
        }
        tbody td.first {
            padding-top: 15px;
        }
        thead td span.cst_h6 {
            font-size: 9px;
            color: $darkBlue_c;
            font-style: normal;
        }
        h2 {
            font-size: 31px;
            color: $darkBlue_c;
            letter-spacing: 0.3px;
            margin: 0;
        }
        h2 span {
            font-size: 17.5px;
            display: inline-block;
            top: -7px;
            position: relative;
        }
        h6 {
            font-size: 13px;
            color: $darkBlue_c;
            letter-spacing: 1px;
            margin: 0;
        }
    }
    .rv_suggestion {
        flex-direction: row;
        box-sizing: border-box;
        display: flex; max-height: 100%;
        //place-content: center space-between;
        align-items: center;
        
        border: dashed 1px $lightBlue_c;
        border-radius: 10px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
        
        .suggestion-box-text {      
            font-family: 'AvenirNextRegular';
            color: $lightBlue_c;
            font-size: 15px;
            font-style: italic;
        }
        .suggestion-box-icon {
          margin-right: 20px;
          position: relative;
          top: -25px;
        }

        .suggestion-sub-text {
            font-size: 10px;
            color: $lightBlue_c;
            font-style: normal;
            line-height: 1.5;
            display: inline-block;
            margin-top: 5px;
        }
        .suggest_first {
            margin-top: 12px;
        }
        .suggestion-sub-text span {
            font-weight: 400;
            font-style: normal;
        }
        a, a:hover {
            text-decoration: none;
            font-size: 10px;
            font-style: normal;
            transition: all 0.4s;
            text-transform: uppercase;
        }
        a {
            color: $lightBlue_c;
            display: inline-block;
            padding: 3px 13px 2px 13px;
            font-style: normal;
            border: 1px solid $lightBlue_c;
            border-radius: 12px;
            position: relative;
            top: -4px;
        }
        a:hover, a.active {
            color: #91cbfa;
            border: 1px solid #91cbfa;
            border-radius: 12px;
        }
    }
}